@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: #00adb5;
}

table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

td {
    width: 100%;
    padding: 10px;
    border: 1px solid #222831;
}

input {
    background-color: #eee;
    border: 1px solid #222831;
}

select {
    background-color: #eee;
    border: 1px solid #222831;
}

select[name="country"],
select[name="genre"] {
    width: 100%;
}

#search {
    background-color: #00adb5;
}
